* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        color: red;
        padding: 10px;
        font-size: 30px;
    }


}


body {
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: center;

    min-height: 100vh;
    a {
        color: orange;
        font-size: 20px;
    }
    .alert {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
        color: red;
        background-color: black;
    }
}

.home {
    border: purple solid 2px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    min-height: 50vh;
    h1 {
        margin: 50px;
    }
    a {
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 20px;
    }
}

